#drum-machine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0%;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.drum-box {
  display: flex;
  flex-direction: column;
  margin: 10% 20% 10% 20%;
  min-height: 60vh;
  min-width: 60vw;
  color: white;
  background-color: gray;
  border: 5px orange solid;
}

header {
  margin: 0%;
  min-height: 10%;
  min-width: 100%;
  color: white;
}

header h5 {
  text-align: right;
  margin: 0% 2% 0% 2%;
}

#drum-pad {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0%;
  min-height: 90%;
  min-width: 50%;
}

.all-drum-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5%;
  min-height: 90%;
  min-width: 40%;
}

#drum-pad .drum-button {
  margin: 0%;
  min-height: 25%;
  min-width: 100%;
}

#drum-pad .drum-button button {
  margin: 4%;
  padding: 2%;
  height: 80px;
  width: 80px;
  font-size: calc(10px + 2vmin);
  border-radius: 10px;
  box-shadow: 4px 4px 4px #333;
}

.activation-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5%;
  min-height: 90%;
  min-width: 40%;
}

.activation-button p {
  margin: 5%;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  margin: 5%;
  width: 60px;
  height: 34px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

#display {
  margin: 5%;
  padding: 5%;
  height: 40px;
  width: 80%;
  font-size: calc(10px + 2vmin);
  border-radius: 10px;
  background-color: darkgray;
  background-position: center;
  text-align: center;
  border: 1px whitesmoke solid;
}

/* Volume Slider */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 80%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  /* animate: 0.2s; */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  /* animate: 0.2s; */
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

.volume-slider {
  margin: 5%;
}

footer {
  margin: auto;
  height: 10vh;
  text-align: center;
}

footer p {
  font-size: 18px;
}

footer p a {
  text-decoration: none;
  color: white;
}

/* Media queries for mini screen phones */
@media only screen and (min-width: 240px) and (max-width: 379px) {
  .drum-box { align-items: center; justify-content: center; margin: 5% 0% 5% 0%; min-height: 80%; min-width: 80%; }
  header { min-height: 5%; }
  #drum-pad { min-height: 95%; min-width: 100%; }
  .all-drum-button { margin: 0%; min-height: 100%; min-width: 50%; }
  #drum-pad .drum-button { margin: 8% 0% 8% 0%; }
  #drum-pad .drum-button button { margin: 2%; padding: 1%; height: 30px; width: 30px; }
  .activation-button { margin: 0%; min-height: 100%; min-width: 50%; }
  #display { padding: 1%; height: 15%; font-size: calc(5px + 2vmin); }
  footer { margin: 10% }
  footer p { font-size: 12px; }
}

/* Media queries for phones */
@media only screen and (min-width: 380px) and (max-width: 480px) {
  .drum-box { align-items: center; justify-content: center; margin: 5% 0% 5% 0%; min-height: 80%; min-width: 80%; }
  header { min-height: 5%; }
  #drum-pad { min-height: 95%; min-width: 100%; }
  .all-drum-button { margin: 0%; min-height: 100%; min-width: 50%; }
  #drum-pad .drum-button { margin: 5% 0% 5% 0%; }
  #drum-pad .drum-button button { margin: 3%; padding: 1%; height: 40px; width: 40px; }
  .activation-button { margin: 0%; min-height: 100%; min-width: 50%; }
  #display { padding: 1%; height: 20%; font-size: calc(5px + 2vmin); }
  footer { margin: 10% }
  footer p { font-size: 14px; }
}

/* Media queries for small width screen tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .drum-box { align-items: center; justify-content: center; margin: 5% 0% 5% 0%; min-height: 60%; min-width: 80%; }
  header { min-height: 5%; }
  #drum-pad { min-height: 95%; min-width: 100%; }
  .all-drum-button { margin: 0%; min-height: 100%; min-width: 50%; }
  #drum-pad .drum-button { margin: 2% 0% 2% 0%; }
  #drum-pad .drum-button button { margin: 5%; padding: 1%; height: 40px; width: 40px; }
  .activation-button { margin: 0%; min-height: 100%; min-width: 50%; }
  #display { padding: 1%; height: 20%; font-size: calc(5px + 2vmin); }
  footer { margin: 10% }
  footer p { font-size: 14px; }
}

/* Media queries for big width screen tablets */
@media only screen and (min-width: 769px) and (max-width: 1320px) {
  .drum-box { align-items: center; justify-content: center; margin: 5% 0% 5% 0%; min-height: 60%; min-width: 80%; }
  header { min-height: 5%; }
  #drum-pad { min-height: 95%; min-width: 100%; }
  .all-drum-button { margin: 0%; min-height: 100%; min-width: 50%; }
  #drum-pad .drum-button { margin: 2% 0% 2% 0%; }
  #drum-pad .drum-button button { margin: 5%; padding: 1%; height: 60px; width: 60px; }
  .activation-button { margin: 0%; min-height: 100%; min-width: 50%; }
  #display { padding: 1%; height: 30%; font-size: calc(10px + 2vmin); }
  footer { margin: 10% }
  footer p { font-size: 16px; }
}
